<div id="dba-modal" data-bind="scope: 'dba'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>

<script type="text/x-magento-init">
    {
        "#dba-modal": {
            "Magento_Ui/js/core/app": {
               "components": {
                    "dba": {
                        "component": "Swissclinic_DBA/js/dba-test",
                        "template" : "Swissclinic_DBA/dba-test"
                    }
                }
            }
        }
    }
</script>
