<div id="dba-modal-content" data-bind="attr: { class: getStateClass() }">
    <button class="action-close"
            data-role="closeBtn"
            type="button"
            data-bind="click: closeModal">
        <span>Close</span>
    </button>

    <div class="screen not-started" data-bind="if: isNotStarted()">
        <h3 translate="'Take our test and get your personal product recommendations.'"></h3>
        <button class="action secondary inverse"
                data-bind="click: startTest"
                translate="'Start Test'">
        </button>
    </div>

    <div class="screen fetching-test" data-bind="if: isFetchingTest()">
        <p>Loading test</p>
        <img src="http://swissclinic.localhost/pub/static/version1543411936/frontend/SwissClinic/grand_combin/en_GB/images/loader-1.gif" alt="Loading...">
    </div>

    <!-- TODO: Animations -->
    <div class="screen in-progress" data-bind="if: isInProgress()">
        <a href="#"
           data-bind="click: goToPreviousQuestion">
            <i class="icon-arrow-left"></i>
        </a>

        <div data-bind="with: getActiveQuestion()">
            <p data-bind="text: title" class="question-title"></p>
            <p class="progress">
                Question <span data-bind="text: $parent.getActiveQuestionNumber.bind($parent)()"></span>
                /<span data-bind="text: $parent.getTotalNumberOfQuestions.bind($parent)()"></span>
            </p>
            <div data-bind="foreach: choices" class="choices-wrapper">
                <div class="choice">
                    <button class="action secondary"
                            data-bind="text: title,
                                       click: $parents[1].selectChoice.bind($parents[1]),
                                       css: {
                                           primary: $parents[1].isSelectedChoice.bind($parents[1])($data),
                                           secondary: !$parents[1].isSelectedChoice.bind($parents[1])($data)
                                       }">
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="screen fetching" data-bind="if: isFetchingResult()">
        <p>Fetching your recommendation</p>
        <img src="http://swissclinic.localhost/pub/static/version1543411936/frontend/SwissClinic/grand_combin/en_GB/images/loader-1.gif" alt="Loading...">
    </div>

    <div class="screen finished" data-bind="if: isFinished()">
        <div data-bind="with: result">
            <div class="carousel" data-bind="foreach: carousel">
                <div class="carousel-entry">
                    <h2 data-bind="text: title"></h2>
                    <p data-bind="text: text"></p>
                </div>
            </div>

            <div class="global-buttons">
                <h2>Your personal<br />treatment plan</h2>
                <div>
                    <button class="action primary add-all-to-cart"
                            data-bind="click: $parent.addAllToCart.bind($parent)">
                        Add all to cart
                    </button>
                </div>
                <div>
                    <button class="action secondary email-me">
                        <i class="icon-envelope"></i><span>Email my plan to me</span>
                    </button>
                </div>
            </div>

            <div data-bind="with: treatment" class="treatment">
                <div class="texts">
                    <p data-bind="html: pitch" class="pitch"></p>
                    <p data-bind="html: addonText"></p>
                    <p data-bind="html: treatmentPeriod"></p>
                </div>
                <div data-bind="with: product">
                    <div class="product-info">
                        <div class="product-info-texts">
                            <p data-bind="text: name" class="name"></p>
                            <p data-bind="text: price" class="price"></p>
                            <a target="_blank" data-bind="attr: { href: url }">READ MORE</a>
                        </div>
                        <div>
                            <div>
                                <img data-bind="attr: { src: imageUrl }" />
                            </div>
                            <div data-bind="with: addToCart" class="add-to-cart-form">
                                <form data-role="tocart-form"
                                      method="post"
                                      data-bind="attr: {
                                            'data-product-sku': sku,
                                            action: action,
                                            enctype: enctype
                                         },
                                         mageInit: {
                                            'add-to-cart-form': { product_sku: sku }
                                         }">
                                    <input type="hidden"
                                           name="product"
                                           data-bind="attr: { value: product }" />
                                    <input type="hidden"
                                           name="selected_configurable_option"
                                           data-bind="attr: { value: selectedConfigurableOption }" />
                                    <input type="hidden"
                                           data-bind="attr: {
                                                name: 'super_attribute[' + superAttributeId + ']',
                                                value: superAttributeValue
                                              }" />
                                    <div data-bind="html: formKey"></div>
                                    <button type="submit"
                                            class="action tocart primary">
                                        Add to cart
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- TODO: Style addonProduct, ask David how it should be shown on desktop -->
                <!--<div class="addonProduct">-->
                    <!--<img data-bind="attr: { src: addonProduct.imageUrl }" />-->
                    <!--<p data-bind="html: addonProductText"></p>-->
                    <!--<div data-bind="with: addonProduct">-->
                        <!--<div data-bind="with: addToCart">-->
                            <!--<form data-role="tocart-form"-->
                                  <!--method="post"-->
                                  <!--data-bind="attr: {-->
                                                <!--'data-product-sku': sku,-->
                                                <!--action: action,-->
                                                <!--enctype: enctype-->
                                             <!--},-->
                                             <!--mageInit: {-->
                                                <!--'add-to-cart-form': { product_sku: sku }-->
                                             <!--}">-->
                                <!--<input type="hidden"-->
                                       <!--name="product"-->
                                       <!--data-bind="attr: { value: product }" />-->
                                <!--<div data-bind="html: formKey"></div>-->
                                <!--<button type="submit"-->
                                        <!--class="action tocart primary">-->
                                    <!--Add to cart-->
                                <!--</button>-->
                            <!--</form>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>

            <div data-bind="with: extraProducts" class="extra-products">
                <h2>We also recommend</h2>
                <div class="texts">
                    <p data-bind="html: text"></p>
                    <p data-bind="html: altText"></p>
                </div>
                <div data-bind="foreach: products" class="products">
                    <div class="product">
                        <img data-bind="attr: { src: imageUrl }" />
                        <div class="product-info">
                            <p data-bind="text: name" class="name"></p>
                            <p data-bind="text: price" class="price"></p>
                            <a target="_blank" data-bind="attr: { href: url }">READ MORE</a>
                        </div>
                        <div data-bind="with: addToCart">
                            <form data-role="tocart-form"
                                  method="post"
                                  data-bind="attr: {
                                                'data-product-sku': sku,
                                                action: action,
                                                enctype: enctype
                                             },
                                             mageInit: {
                                                'add-to-cart-form': { product_sku: sku }
                                             }">
                                <input type="hidden"
                                       name="product"
                                       data-bind="attr: { value: product }" />
                                <div data-bind="html: formKey"></div>
                                <button type="submit"
                                        class="action tocart secondary">
                                    Add to cart
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <button class="action primary"
                    data-bind="click: $parent.restartTest.bind($parent)">
                Restart test
            </button>
        </div>
    </div>
</div>